body{
    background: #96a6ff;
}




/*         
.PacMan_spritesheet{
    animation: moveSpritesheet 1s steps(3) infinite;
    position: absolute;
}
*/

.Labirynth{
    /*Showing the Labirybth*/
    position: relative;
    width: 226px;
    height: 248px;
    background: white;
    overflow: hidden;
}


.PacMan {
    /* If we type the following it is showing the characters --> margin: 0px 16px 16px -228px;*/
    position: inherit;
    width: 50px;
    height: 65px;
   margin-left: -227px;


    overflow: hidden;
        }


/*
 going-left{
    top: -16px;
}
.going-up{
    top: -32px;
}
.going-down{
    top: -48px;
}
@keyframes moveSpritesheet {
    from{
        transform: translate3d(0px,0,0)
    }
    to{
        transform: translate3d(-100%,0,0)
    }
    
}
*/
